@import '~node_modules/modern-normalize/modern-normalize.css';

body{
    background-color: lightblue;
}

button {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: darkblue;
    color: white;
    border: none;
}
.load-more{
    display: block;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

 input{
    border-radius: 5px;
    width: 200px;
    height: 30px;
    margin-right: 20px;
    border: none;
 }

.search-form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.is-hidden{
    display:none;
}
img{
    width: 100%;
    border-radius: 5px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.link{
    display: block;
    width: calc(100% / 4 - 10px);
    margin-bottom: 10px;
}
.photo-card{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: auto;
   

}